.git/
.idea/
.vs/
_magic/
api_responses/
src/Wowthing.Web/wwwroot/dist/
**/bin
**/obj
**/node_modules
.dockerignore
.gitattributes
.gitignore
.gitlab-ci.yml
development.Dockerfile
docker-compose.yml
Dockerfile
