.env
core

# User-specific files
*.user

# Editor garbage
.idea/
.vs/

# Generated stuff
src/**/bin/
src/**/obj/
node_modules/
src/Wowthing.Web/wwwroot/dist/
.eslintcache
*.log

# Misc
api_responses/
data/zone-maps/addon.txt
src/Test/
lua.json
sets.txt
zzz_uncategorized.yml

temp/
