# important
.env

# compiled output
apps/*/bin
apps/*/obj
packages/*/bin
packages/*/obj
dist/

# dependencies
node_modules/

# generated junk
__pycache__/
.eslintcache
*.log

# IDEs and editors
/.idea
.project
.classpath
.c9/
.settings/
.vs/
*.code-workspace
*.launch
*.sublime-workspace
*.user

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/typings
core
npm-debug.log
yarn-error.log
testem.log

# System Files
.DS_Store
Thumbs.db

# wowthing misc
/temp
lua.json
sets.txt

# syncthing
.stfolder/
.stignore
