@model TeamViewModel
@{
    ViewData["Title"] = Model?.Team.Name ?? "Unknown team";
}

@section head
{
    <link rel="stylesheet" asp-href-include="~/dist/teams.*css" />
}

@section js
{
    <script type="text/javascript" asp-src-include="~/dist/teams.*js"></script>
}

<div id="app"
     data-team="@Url.Action("TeamData", "Api", new { guid = Model?.Team.Guid })"></div>

@if (User?.Identity?.IsAuthenticated == true)
{
    await Html.RenderPartialAsync("AddCharacterForm", Model?.AddForm);
}
