.tooltip-progress {
    .progress-progress {
        vertical-align: top;
    }
    .progress-name {
        padding-right: 1rem;
        text-align: left;

        span {
            color: #00ccff;
            display: block;
            font-size: 0.9rem;
        }
    }
}
