.table-tooltip-torghast {
    width: 100%;

    td {
        padding: 0.2rem 0.3rem;

        &.name {
            text-align: left;
            width: 8rem;
        }

        &.level {
            text-align: right;
            width: 2rem;
        }
    }
}
