.table-tooltip-torghast {
    td {
        &.name {
            text-align: left;
            width: 10rem;
        }

        &.level {
            text-align: right;
            width: 2rem;
        }
    }
}
