.collection {
    border: 1px solid $border-color;
    border-radius: $border-radius;

    & + .collection {
        border-top-width: 0;
    }

    h3 {
        margin: 0;
        padding: 0.25rem 0.5rem;
        width: 100%;
        background: $collection-background;
        border-bottom: 1px solid $border-color;
        color: #ddd;

        &:nth-child(n+2) {
            border-top: 1px solid $border-color;
        }
    }
}

.collection-section {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 0 0.5rem 0.75rem;
    width: 100%;
}

.collection-group {
    margin-right: 0.75rem;

    h4 {
        font-size: 1.05rem;
        margin: 0 0 0.25rem 0;
        width: 100%;
    }
}
.collection-objects {
    display: flex;
    flex-wrap: wrap;

    > div {
        --image-border-color: #bbb;
        --image-border-width: 2px;

        margin-bottom: 0.3rem;
        margin-right: 0.3rem;
        position: relative;

        &.has-not {
            --image-border-color: #{darken($colour-fail, 10%)};
        }

        &.missing {
            opacity: 0.5;

            img {
                filter: grayscale(75%);
            }
        }

        .collected-icon {
            color: $colour-success;
            pointer-events: none;
            position: absolute;
            top: -4px;
            right: -2px;
        }
    }
}
