@mixin cell-width($width, $paddingLeft: $width-padding, $paddingRight: $width-padding) {
    $calcWidth: calc(#{$width} + #{$paddingLeft} + #{$paddingRight});
    min-width: $calcWidth;
    width: $calcWidth;
    padding-left: $paddingLeft;
    padding-right: $paddingRight;
}
