@mixin cell-width($width, $paddingLeft: $width-padding, $paddingRight: $width-padding) {
    $calcLeft: calc(#{$paddingLeft} * var(--padding, 1));
    $calcRight: calc(#{$paddingRight} * var(--padding, 1));
    $calcWidth: calc(#{$width} + #{$calcLeft} + #{$calcRight});
    min-width: $calcWidth;
    width: $calcWidth;
    padding-left: $calcLeft;
    padding-right: $calcRight;
}
