@mixin cell-width($width, $paddingLeft: $character-padding-left, $paddingRight: 0px) {
    $calcWidth: calc(#{$width} + #{$paddingLeft} + #{$paddingRight});
    min-width: $calcWidth;
    width: $calcWidth;
    padding-left: $paddingLeft;
    padding-right: $paddingRight;
}
