.settings-container {
    border: 1px solid $border-color;
    margin-bottom: 1rem;
    padding: 0.5rem 1.0rem;
    width: $settings-column-width;

    h2,
    h3 {
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
    }

    h2 {
        border-bottom: 1px solid $border-color;
        text-align: center;
    }

    h3 {
        border-bottom: 1px dashed $border-color;
    }

    fieldset {
        margin: 0.3rem;

        label {
            display: block;
            width: 100%;
        }

        pre {
            background: $highlight-background;
            display: inline;
            margin: 0;
        }

        ul {
            margin: 0.3rem 0;
            padding-inline-start: 1.3rem;
        }
    }

    .setting {
        display: flex;

        fieldset {
            flex: 0 0 20rem;
        }

        p {
            color: #ddddff;
            flex: 1;
            margin: 0.3rem;
        }
    }
}
