.settings-container {
    border: 1px solid $border-color;
    margin-bottom: 1rem;
    padding: 0.5rem 1.0rem;
    width: $settings-column-width;

    h2,
    h3 {
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
    }

    h2 {
        border-bottom: 1px solid $border-color;
        text-align: center;
    }

    h3 {
        border-bottom: 1px dashed $border-color;

        &.space-me {
            margin-top: 1.5rem;
            padding-top: 0.5rem;
        }
    }

    fieldset {
        margin: 0.25rem 0.25rem 0.25rem 0;

        label {
            display: block;
            width: 100%;
        }

        pre {
            background: $highlight-background;
            display: inline;
            margin: 0;
        }

        ul {
            margin: 0.3rem 0;
            padding-inline-start: 1.3rem;
        }

        &[data-state="false"] {
            background: rgba(255, 0, 0, 0.2);

            & :global(code) {
                background: none;
            }
        }
    }

    .setting {
        display: flex;

        fieldset {
            align-items: center;
            display: flex;
            flex: 0 0 20rem;
        }

        p {
            color: #ddddff;
            flex: 1;
            margin: 0 0 0 0.5rem;
        }
    }
}
