.settings-container {
    border: 1px solid $border-color;
    margin-bottom: 1rem;
    width: $settings-column-width;

    h2 {
        font-weight: 600;
        text-align: center;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0.5rem;
        width: 100%;

        li {
            padding: 0.25rem 0;

            p {
                color: #ffff88;
                font-style: italic;
                margin: 0 0 0 1.8rem;
            }
        }
    }
}
