@import "tooltips/mythic-plus";
@import "tooltips/torghast";
@import "tooltips/vault-mythic";

.wowthing-tooltip {
    text-align:center;

    > h4 {
        margin: $tooltip-padding-y*-1 $tooltip-padding-x*-1 $tooltip-padding-y $tooltip-padding-x*-1;
        padding: 0.3rem 0.5rem;
        border-bottom: 1px solid $tooltip-border;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        background: $tooltip-title-background;
        color: $tooltip-title-color;
        font-size: 1.05rem;
        font-weight: normal;
    }

    em {
        color: #4fc3f7;
    }

    p {
        margin-top: 0.5rem;
        margin-bottom: 0;
    }
}
