$body-background:          #121314;
$body-text:                #ffffff;
$link-color:               #c1e3c2;

$border-color:             #4d4e4f;
$border-radius-large:      8px;
$border-radius:            5px;
$border-radius-small:      3px;

$header-footer-background: #2c2d2e;
$thing-background:         #1d1e1f;
$highlight-background:     #04080f;
$active-background:        mix($thing-background, #0088ff, 80%);
$collection-background:    $highlight-background;

$tooltip-background:       #0a0b0c;
$tooltip-color:            #ffffff;
$tooltip-border:           #8b8d8f;
$tooltip-title-background: $active-background;
$tooltip-title-color:      $tooltip-color;
$tooltip-padding-x:        7px;
$tooltip-padding-y:        5px;

$alliance-border:           #0044ff;
$alliance-border-dark:      darken($alliance-border, 20%);
$alliance-background:       mix($thing-background, $alliance-border, 90%);
$horde-border:              #ff0000;
$horde-border-dark:         darken($horde-border, 20%);
$horde-background:          mix($thing-background, $horde-border, 90%);
$neutral-border:            #dfdf00;

$sidebar-pill-background:  $highlight-background;
$sidebar-pill-scale:       0.9;
$sidebar-sub-link-color:   #c1c2e3;

$table-striped-background: lighten($thing-background, 3%);

$width-covenant:            2.9rem;
$width-currency:            3.4rem;
$width-gold:                2.0rem;
$width-icon:                26px;
$width-item-level:          2.6rem;
$width-keystone:            6.0rem;
$width-keystone-dungeon:    2.9rem;
$width-keystone-level:      1.7rem;
$width-level:               1.1rem;
$width-lockout:             3.5rem;
$width-mount-speed:         3.4rem;
$width-mplus-dungeon:       3.4rem;
$width-name:                7.0rem;
$width-progress:            3.4rem;
$width-raider-io:           3.3rem;
$width-realm:               8.0rem;
$width-reputation:          3.8rem;
$width-spacer:              0.7rem;
$width-torghast:            4.7rem;
$width-transmog:            2.6rem;
$width-ugh-anima:           6.2rem;
$width-ugh-quest:           4.2rem;
$width-vault:               6.5rem;

$width-padding:             0.35rem;

$settings-column-width:     18rem;

$inactive-opacity:         0.4;

$colour-success:            #1eff00;
$colour-shrug:              #efef00;
$colour-fail:               #ff1e00;

$button-success:            #0f2f0f;

// poor
$quality0-color:           #9d9d9d;
$quality0-border:          $quality0-color;

// common
$quality1-color:           #ddd; // #ffffff
$quality1-border:          darken($quality1-color, 5%);

// uncommon
$quality2-color:           #1eff00;
$quality2-border:          darken($quality2-color, 10%);

// rare
$quality3-color:           lighten(#0070dd, 10%);
$quality3-border:          #0070dd;

// epic
$quality4-color:           lighten(#a335ee, 10%);
$quality4-border:          darken($quality4-color, 5%);

// legendary
$quality5-color:           darken(#ff8000, 3%);
$quality5-border:          lighten($quality5-color, 5%);

// artifact
$quality6-color:           darken(#e6cc80, 25%);
$quality6-border:          $quality6-color;

// heirloom
$quality7-color:           darken(#00ccff, 8%);
$quality7-border:          $quality7-color;
