@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="content">

    <div class="error">
        <h1>Error</h1>
        <p>An error occurred while processing your request</p>

        @if (Model.ShowRequestId)
        {
            <p>
                ID: <code>@Model.RequestId</code>
            </p>
        }
    </div>
</div>
