@model UserViewModel
@{
    ViewData["Title"] = Model.User.UserName;
}

<div id="app"
     data-api="@Url.Action("UserData", "Api", new { username = Model.User.UserName })"
     data-static="@Url.Action("StaticData", "Api", new { hash = Model.StaticHash })">
</div>
