@model AuctionsViewModel
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostEnv
@inject UriService UriService

@{
    ViewData["Title"] = "Auctions";
}

@if (HostEnv.EnvironmentName != "Development")
{
    @section css
    {
        <partial name="_ManifestCss.cshtml" model='"apps/auctions.ts"' />
    }
}

@section js
{
    @if (HostEnv.EnvironmentName == "Development")
    {
        <script type="module" src="http://localhost:55505/apps/auctions.ts"></script>
    }
    else
    {
        <partial name="_ManifestJs.cshtml" model='"apps/auctions.ts"'/>
    }
}

<div
    id="app"
    data-base-uri="@UriService.BaseUri"
    data-auction="@Url.Action("CachedJson", "CachedJson", new { type = "auction", languageCode = "zzZZ", hash = Model.AuctionHash })"
    data-item="@Url.Action("CachedJson", "CachedJson", new { type = "item", languageCode = "zzZZ", hash = Model.ItemHash })"
></div>
