.character-table {
    --image-border-width: 1px;

    thead {
        tr {
            th {
                background: $thing-background;
                font-weight: 600;
                position: sticky;
                top: 0;
                z-index: 1;

                &:first-child {
                    border-left: 1px solid var(--border-color);
                }

                &:last-child {
                    border-right: 1px solid var(--border-color);
                }
            }
        }
    }

    tbody {
        --image-margin-top: -4px;

        tr {
            td {
                white-space: nowrap;

                &:first-child {
                    border-left: 1px solid var(--border-color);
                }

                &:last-child {
                    border-right: 1px solid var(--border-color);
                }

                .flex-wrapper {
                    --image-margin-top: 0;
                }
            }
        }

        // Only if no thead is present
        &:first-child {
            tr:first-child {
                td {
                    border-top: 1px solid var(--border-color);
                }
            }
        }
    }
}
