.collection {
    border: 1px solid $border-color;

    & + .collection {
        border-top-width: 0;
    }
}

.collection-section {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    padding: 0.5rem 0 0.7rem 0.7rem;
    width: 100%;
}

.collection-group {
    --image-border-color: #bbb;
    --image-border-width: 2px;

    margin-right: 0.7rem;

    h4 {
        font-size: 1.05rem;
        margin: 0 0 0.25rem 0;
        width: 100%;
    }
}
.collection-objects {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;

    > div {
        position: relative;

        &.has-not {
            --image-border-color: #{darken($color-fail, 10%)};
        }

        &.missing {
            //opacity: 0.5;
            filter: brightness(60%);

            img {
                filter: grayscale(75%);
            }
        }
    }
}
