.collection-v2-section {
    column-count: 1;
    gap: var(--column-gap, 1rem);
    padding: 0.5rem 0.75rem 0.75rem 0.75rem;
    width: 100%;
}

.collection-v2-group {
    --image-border-color: #bbb;
    --image-border-width: 2px;
    
    break-inside: avoid;
    overflow: hidden; /* Firefox fix */

    h4 {
        font-size: 1.05rem;
        margin: 0 0 0.25rem 0;
        width: 100%;
    }

    + .collection-v2-group {
        margin-top: 1rem;
    }

    .collection-object {
        margin-top: 0.1rem;
    }
}
