.status-success {
    --link-color: $color-success;

    color: $color-success !important;
}
.status-shrug {
    --link-color: $color-shrug;

    color: $color-shrug;
}
.status-warn {
    --link-color: $color-warn;

    color: $color-warn;
}
.status-fail {
    --link-color: $color-fail;

    color: $color-fail;
}

.border-success {
    --image-border-color: #{mix($color-success, $border-color, 90%)} !important;
    border-color: mix($color-success, $border-color, 90%) !important;
}
.border-shrug {
    --image-border-color: #{mix($color-shrug, $border-color, 90%)} !important;
    border-color: mix($color-shrug, $border-color, 90%) !important;
}
.border-warn {
    --image-border-color: #{mix($color-warn, $border-color, 90%)} !important;
    border-color: mix($color-warn, $border-color, 90%) !important;
}
.border-fail {
    --image-border-color: #{mix($color-fail, $border-color, 90%)} !important;
    border-color: mix($color-fail, $border-color, 90%) !important;
}

.location0 {
    color: #c2e389;
}
.location1 {
    color: #a7d79b;
}
.location2 {
    color: #86c177;
}

// class colours
$color-class-1:            #c69b6d; // Warrior
$color-class-2:            #f48cba; // Paladin
$color-class-3:            #aad372; // Hunter
$color-class-4:            #fff468; // Rogue
$color-class-5:            #ffffff; // Priest
$color-class-6:            lighten(#c41e3a, 5%); // Death Knight
$color-class-7:            lighten(#0070dd, 5%); // Shaman
$color-class-8:            #3fc7eb; // Mage
$color-class-9:            #8788ee; // Warlock
$color-class-10:           #00ff98; // Monk
$color-class-11:           #ff7c0a; // Druid
$color-class-12:           #a330c9; // Demon Hunter
$color-class-13:           #33937F; // Evoker
