.status-success {
    --link-color: $colour-success;

    color: $colour-success !important;
}
.status-shrug {
    --link-color: $colour-shrug;

    color: $colour-shrug;
}
.status-fail {
    --link-color: $colour-fail;

    color: $colour-fail;
}

.border-success {
    border-color: mix($colour-success, $border-color, 90%) !important;
}
.border-shrug {
    border-color: mix($colour-shrug, $border-color, 90%) !important;
}
.border-fail {
    border-color: mix($colour-fail, $border-color, 90%) !important;
}
