.status-success {
    --link-color: var(--color-success);

    color: var(--color-success) !important;
}
.status-shrug {
    --link-color: var(--color-shrug);

    color: var(--color-shrug);
}
.status-warn {
    --link-color: var(--color-warn);

    color: var(--color-warn);
}
.status-fail {
    --link-color: var(--color-fail);

    color: var(--color-fail);
}

.b-success,
.border-success {
    --image-border-color: var(--color-sucess-border) !important;
    border-color: var(--color-sucess-border) !important;
}
.b-shrug,
.border-shrug {
    --image-border-color: var(--color-shrug-border) !important;
    border-color: var(--color-shrug-border) !important;
}
.b-warn,
.border-warn {
    --image-border-color: var(--color-warn-border) !important;
    border-color: var(--color-warn-border) !important;
}
.b-fail,
.border-fail {
    --image-border-color: var(--color-fail-border) !important;
    border-color: var(--color-fail-border) !important;
}

.bg-success {
    background: var(--color-success-background) !important;
}
.bg-shrug {
    background: var(--color-shrug-background) !important;
}
.bg-warn {
    background: var(--color-warn-background) !important;
}
.bg-fail {
    background: var(--color-fail-background) !important;
}

.location0 {
    color: #c2e389;
}
.location1 {
    color: #a7d79b;
}
.location2 {
    color: #86c177;
}

// auction ages
// .auction-age-1 {
//     color: #f8f;
// }
.auction-age-2 {
    color: #ff9;
}
.auction-age-3 {
    color: #fa5;
}
.auction-age-4 {
    color: #f51;
}
