.status-success {
    color: $colour-success !important;
}
.status-shrug {
    color: $colour-shrug;
}
.status-fail {
    --shadow-color: rgba(255, 30, 0, 0.2);

    color: $colour-fail;
}

.border-success {
    border-color: mix($colour-success, $border-color, 90%) !important;
}
.border-shrug {
    border-color: mix($colour-shrug, $border-color, 90%) !important;
}
.border-fail {
    border-color: mix($colour-fail, $border-color, 90%) !important;
}
