.status-success {
    --link-color: var(--color-success);

    color: var(--color-success) !important;
}
.status-shrug {
    --link-color: var(--color-shrug);

    color: var(--color-shrug);
}
.status-warn {
    --link-color: var(--color-warn);

    color: var(--color-warn);
}
.status-fail {
    --link-color: var(--color-fail);

    color: var(--color-fail);
}

.b-success,
.border-success {
    --temp-color: color-mix(in hsl, var(--color-success) 70%, var(--border-color) 30%);
    --image-border-color: var(--temp-color) !important;
    border-color: var(--temp-color) !important;
}
.b-shrug,
.border-shrug {
    --image-border-color: color-mix(in hsl, var(--color-shrug) 90%, var(--border-color) 10%) !important;
    border-color: color-mix(in hsl, var(--color-shrug) 90%, var(--border-color) 10%) !important;
}
.b-warn,
.border-warn {
    --image-border-color: color-mix(in hsl, var(--color-warn) 90%, var(--border-color) 10%) !important;
    border-color: color-mix(in hsl, var(--color-warn) 90%, var(--border-color) 10%) !important;
}
.b-fail,
.border-fail {
    --image-border-color: color-mix(in hsl, var(--color-fail) 90%, var(--border-color) 10%) !important;
    border-color: color-mix(in hsl, var(--color-fail) 90%, var(--border-color) 10%) !important;
}

.bg-success {
    background: color-mix(in hsl, var(--color-success) 30%, #000 70%) !important;
}
.bg-shrug {
    background: color-mix(in hsl, var(--color-shrug) 30%, #000 70%) !important;
}
.bg-fail {
    background: color-mix(in hsl, var(--color-fail) 30%, #000 70%) !important;
}

.location0 {
    color: #c2e389;
}
.location1 {
    color: #a7d79b;
}
.location2 {
    color: #86c177;
}

// auction ages
// .auction-age-1 {
//     color: #f8f;
// }
.auction-age-2 {
    color: #ff9;
}
.auction-age-3 {
    color: #fa5;
}
.auction-age-4 {
    color: #f51;
}
