.status-success {
    --link-color: $color-success;

    color: $color-success !important;
}
.status-shrug {
    --link-color: $color-shrug;

    color: $color-shrug;
}
.status-fail {
    --link-color: $color-fail;

    color: $color-fail;
}

.border-success {
    --image-border-color: #{mix($color-success, $border-color, 90%)} !important;
    border-color: mix($color-success, $border-color, 90%) !important;
}
.border-shrug {
    --image-border-color: #{mix($color-shrug, $border-color, 90%)} !important;
    border-color: mix($color-shrug, $border-color, 90%) !important;
}
.border-fail {
    --image-border-color: #{mix($color-fail, $border-color, 90%)} !important;
    border-color: mix($color-fail, $border-color, 90%) !important;
}

.location0 {
    color: #c2e389;
}
.location1 {
    color: #a7d79b;
}
.location2 {
    color: #86c177;
}
