body {
    background: var(--color-body-background);
    color: var(--color-body-text);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    border-bottom: 1px solid var(--border-color);
    position: sticky;
    top: 0;
}

header,
footer {
    background: var(--color-header-footer-background);
    padding: 0.5rem 1rem;
}

.nav {
    display: flex;
    justify-content: space-between;

    ul {
        margin: 0;

        li {
            display: inline-block;

            img {
                margin-top: -4px;
            }

            &.margin-left {
                margin-left: 3rem;
            }

            &:not(:first-child) {
                border-left: 1px solid #888;
                margin-left: 0.4rem;
                padding-left: 0.6rem;
            }
        }
    }
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    margin: 1rem 0 0 0;
    overflow: auto;
    padding: 0 1rem;
}

footer {
    border-top: 1px solid var(--border-color);
    display: flex;
    flex: none;
    justify-content: space-between;
    margin: 1rem -1rem 0 -1rem;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;

            img {
                margin-top: -4px;
            }

            & + li {
                border-left: 1px solid #888;
                margin-left: 0.4rem;
                padding-left: 0.6rem;
            }
        }
    }
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

a,
a:visited {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    color: var(--color-link-hover);
}

.primary {
    background: #4fc3f7;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
}

code {
    background: var(--color-thing-background);
    color: #ffffaa;
    vertical-align: 1px;
    // padding: 0 0.2rem;
}

#app {
    align-items: flex-start;
    display: flex;
    flex: 1 0 auto;
    transform: translateZ(
        0
    ); // null transform to force a new layer/HW acceleration
}

div.content {
    flex: 1 0 auto;
}

.faction0 {
    --image-border-color: var(--color-alliance-border);
    --color-link: var(--color-alliance);
}

.faction1 {
    --image-border-color: var(--color-horde-border);
    --color-link: var(--color-horde);
}

.flex-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.drop-shadow {
    filter: drop-shadow(-1px -1px 1px var(--shadow-color, rgba(0, 0, 0, 0.5)))
        drop-shadow(-1px 1px 1px var(--shadow-color, rgba(0, 0, 0, 0.5)))
        drop-shadow(1px -1px 1px var(--shadow-color, rgba(0, 0, 0, 0.5)))
        drop-shadow(1px 1px 1px var(--shadow-color, rgba(0, 0, 0, 0.5)));
}
.drop-shadow2 {
    filter: drop-shadow(-2px -2px 2px var(--shadow-color, rgba(0, 0, 0, 0.5)))
        drop-shadow(-2px 2px 2px var(--shadow-color, rgba(0, 0, 0, 0.5)))
        drop-shadow(2px -2px 2px var(--shadow-color, rgba(0, 0, 0, 0.5)))
        drop-shadow(2px 2px 2px var(--shadow-color, rgba(0, 0, 0, 0.5)));
}
.drop-shadow-single {
    filter: drop-shadow(0 0 2px var(--shadow-color, rgba(0, 0, 0, 0.5)));
}

.text-overlay {
    background-color: var(--color-highlight-background);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-small);
    font-size: 0.9rem;
    line-height: 1;
    padding: 0 2px 1px 2px;
    pointer-events: none;
    word-spacing: -0.2ch;
}

.background-box {
    background-color: var(--color-highlight-background);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-small);
}

.pill {
    background-color: var(--color-highlight-background);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-small);
    line-height: 1;
    padding: 0 2px 1px 2px;
    text-align: center;
    white-space: nowrap;
}
.l {
    text-align: left;
}
.r {
    text-align: right;
}
.c,
.center {
    text-align: center;
}
.abs-center {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.border {
    border: 1px solid var(--border-color);
}
.b-b,
.border-bottom {
    border-bottom: 1px solid var(--border-color);
}
.b-l,
.border-left {
    border-left: 1px solid var(--border-color);
}
.b-r,
.border-right {
    border-right: 1px solid var(--border-color);
}
.b-t,
.border-top {
    border-top: 1px solid var(--border-color);
}
.b-radius,
.border-radius {
    border-radius: var(--border-radius);
}
.m-l,
.margin-left {
    margin-left: 0.5rem;
}
.faded {
    opacity: var(--opacity-faded);
}
.no-break {
    break-inside: avoid;
    overflow: hidden; /* Firefox fix */
}
