body {
    background: $body-background;
    color: $body-text;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    border-bottom: 1px solid $border-color;
    position: sticky;
    top: 0;
}

header,
footer {
    background: $header-footer-background;
    padding: 0.5rem 1rem;
}

.nav {
    display: flex;
    justify-content: space-between;

    ul {
        margin: 0;

        li {
            display: inline-block;

            img {
                margin-top: -4px;
            }

            &.margin-left {
                margin-left: 3rem;
            }

            &:not(:first-child) {
                border-left: 1px solid #888;
                margin-left: 0.4rem;
                padding-left: 0.6rem;
            }
        }
    }
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    margin: 1rem 0 0 0;
    overflow: auto;
    padding: 0 1rem;
}

footer {
    border-top: 1px solid $border-color;
    display: flex;
    flex: none;
    justify-content: space-between;
    margin: 1rem -1rem 0 -1rem;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;

            img {
                margin-top: -4px;
            }

            & + li {
                border-left: 1px solid #888;
                margin-left: 0.4rem;
                padding-left: 0.6rem;
            }
        }
    }
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

a,
a:visited
{
    color: var(--link-color, $link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color, $link-hover-color);
}

.primary {
    background: #4fc3f7;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
}

code {
    background: $thing-background;
    color: #ffffaa;
    // padding: 0 0.2rem;
}

#app {
    align-items: flex-start;
    display: flex;
    flex: 1 0 auto;
    transform: translateZ(0); // null transform to force a new layer/HW acceleration
}

div.content {
    flex: 1 0 auto;
}

.faction0 {
    --image-border-color: #{$alliance-border};
    --link-color: #{$alliance-link};
}

.faction1 {
    --image-border-color: #{$horde-border};
    --link-color: #{$horde-link};
}

.flex-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
}


.drop-shadow {
    filter:
        drop-shadow(-1px -1px 1px var(--shadow-color, rgba(0, 0, 0, 0.5)))
        drop-shadow(-1px  1px 1px var(--shadow-color, rgba(0, 0, 0, 0.5)))
        drop-shadow( 1px -1px 1px var(--shadow-color, rgba(0, 0, 0, 0.5)))
        drop-shadow( 1px  1px 1px var(--shadow-color, rgba(0, 0, 0, 0.5)));
}
.drop-shadow2 {
    filter:
        drop-shadow(-2px -2px 2px var(--shadow-color, rgba(0, 0, 0, 0.5)))
        drop-shadow(-2px  2px 2px var(--shadow-color, rgba(0, 0, 0, 0.5)))
        drop-shadow( 2px -2px 2px var(--shadow-color, rgba(0, 0, 0, 0.5)))
        drop-shadow( 2px  2px 2px var(--shadow-color, rgba(0, 0, 0, 0.5)));
}
.drop-shadow-single {
    filter: drop-shadow(0 0 2px var(--shadow-color, rgba(0, 0, 0, 0.5)));
}

.text-overlay {
    background-color: $highlight-background;
    border: 1px solid $border-color;
    border-radius: $border-radius-small;
    font-size: 0.9rem;
    line-height: 1;
    padding: 0 2px 1px 2px;
    pointer-events: none;
    word-spacing: -0.2ch;
}

.background-box {
    background-color: $highlight-background;
    border: 1px solid $border-color;
    border-radius: $border-radius-small;
}

.pill {
    background-color: $highlight-background;
    border: 1px solid $border-color;
    border-radius: $border-radius-small;
    line-height: 1;
    padding: 0 2px 1px 2px;
    text-align: center;
    white-space: nowrap;
}
.center {
    text-align: center;
}
.abs-center {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.border {
    border: 1px solid $border-color;
}
.border-bottom {
    border-bottom: 1px solid $border-color;
}
.border-left {
    border-left: 1px solid $border-color;
}
.border-right {
    border-right: 1px solid $border-color;
}
.border-top {
    border-top: 1px solid $border-color;
}
.faded {
    opacity: 0.5;
}
