.error {
    //margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    width: 20rem;
    background: rgba(255, 0, 0, 0.4);
    border: 1px solid #af0000;
    border-radius: var(--border-radius);
    text-align: center;
}
