input[type='checkbox'] {
    border-radius: $border-radius;
    margin: 0.3rem;
    padding: 0.3rem;
}

.fancy-checkbox {
    &.disabled {
        color: $colour-fail;
    }

    label {
        cursor: pointer;
        position: relative;
    }

    input {
        cursor: pointer;
        height: 0;
        opacity: 0;
        position: absolute;
        width: 0;
    }
}
