.settings-container {
    border: 1px solid var(--border-color);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    margin-bottom: 1rem;
    min-width: 50rem;
    padding: 0.5rem 1rem;
    width: 100%;

    h2,
    h3 {
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
    }

    h2 {
        border-bottom: 1px solid var(--border-color);
        text-align: center;
        width: 100%;
    }
    h2 + h3 {
        border-top: 0;
    }
    h3 {
        border-bottom: 1px dashed var(--border-color);
        border-top: 1px dashed var(--border-color);
        margin-top: 0.5rem;
        padding-top: 0.5rem;

        &.space-me {
            margin-top: 1.5rem;
            padding-top: 0.5rem;
        }
    }
    h4 {
        margin-top: 0.5rem;
    }

    fieldset {
        margin: 0.25rem 0.25rem 0.25rem 0;

        code {
            background: inherit;
        }

        label {
            display: block;
            width: 100%;
        }

        pre {
            background: var(--color-highlight-background);
            display: inline;
            margin: 0;
        }

        ul {
            margin: 0.3rem 0;
            padding-inline-start: 1.3rem;
        }

        &.disabled {
            label {
                cursor: not-allowed !important;
                opacity: 0.5;
            }
        }

        &[data-state="true"] {
            background: rgba(0, 255, 0, 0.1);
        }

        &[data-state="false"] {
            background: rgba(255, 0, 0, 0.15);
        }
    }

    .setting {
        align-items: center;
        display: flex;

        &.full-width {
            fieldset {
                flex-basis: 100%;
            }
        }

        fieldset {
            align-items: center;
            display: flex;
            flex: 0 0 15rem;
        }

        p {
            color: #ddddff;
            flex: 1;
            margin: 0 0 0 0.5rem;

            & + p {
                margin-top: 1rem;
            }
        }
    }

    .setting-checkbox {
        fieldset {
            flex: 1 0 30rem;
        }
    }

    .setting-checkboxes {
        display: flex;
        flex-wrap: wrap;
        gap: 0 1rem;

        fieldset {
            min-width: 0;
            width: var(--fieldset-width, 14rem);
        }
    }
}

.settings-block {
    break-inside: avoid;
    overflow: hidden; /* Firefox fix */
    width: 45rem;

    > h3 {
        align-items: center;
        display: flex;
        justify-content: space-between;

        fieldset {
            background: var(--color-highlight-background);
            font-size: 1rem;
            margin-bottom: -1rem;
            margin-top: -1rem;
        }
        span {
            font-size: 1rem;
        }
    }
}
.settings-block-big {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    width: 100%;
}
.magic-filter {
    position: relative;

    fieldset {
        background: var(--color-highlight-background);
        bottom: 0.4rem;
        position: absolute;
        right: 0;
        width: 12rem;
    }
}
