.table {
    background: $thing-background;
    //border-collapse: collapse;
    table-layout: fixed;

    thead {
        tr {
            &:first-child {
                td, th {
                    border-top: 1px solid $border-color;
                }
            }

            &:last-child {
                td, th {
                    border-bottom: 1px solid $border-color;
                }
            }
        }
    }

    td, th {
        &:first-child {
            border-left: 1px solid $border-color;
        }

        &:last-child {
            border-right: 1px solid $border-color;
        }
    }

    tbody {
        tr {
            td.alt {
                background: $table-alt-bg;
            }
        }
    }

    .spacer {
        background: $body-background;
        border-bottom-width: 0 !important;
        border-left: 1px solid $border-color;
        border-top-width: 0 !important;
        min-width: 1rem;
        width: 1rem;
    }

    .settings {
        background: $body-background;
        border-bottom-width: 0 !important;
        border-left: 1px solid $border-color;
        border-right-width: 0 !important;
        border-top-width: 0 !important;
        min-width: 3rem;
        width: 3rem;
    }
}

.table-striped {
    tbody {
        tr:nth-child(odd) {
            background: $table-striped-bg;

            td.alt {
                background: $table-striped-alt-bg;
            }
        }
        tr.highlight {
            background: $table-hl-bg;

            &:nth-child(odd) {
                background: $table-striped-hl-bg;
            }
        }
    }
}

.table-striped2 {
    tbody {
        tr:nth-child(4n+1),
        tr:nth-child(4n+2) {
            background: $table-striped-bg;
        }
        tr:nth-child(2n):not(:last-child) {
            td {
                border-bottom: 1px solid $border-color;
            }
        }
    }
}

.table-striped,
.table-striped2
{
    tr {
        td {
            border-bottom: 1px solid $border-color;
        }
    }
}

.table-group-head {
    td {
        background: adjust-color($active-background, $alpha: -0.5);
        border-top: 1px solid $border-color;
        font-size: 1.05rem;
        text-align: center;
    }
}
