/*
$table-bg: $thing-background;
$table-striped-bg: lighten($table-bg, 3%);
$table-alt-bg: #00151d9f;
$table-striped-alt-bg: lighten($table-alt-bg, 3%);
$table-hl-bg: darken($active-background, 7%);
$table-striped-hl-bg: lighten($table-hl-bg, 3%);
*/

.table {
    background: var(--table-background-1);
    //border-collapse: collapse;
    table-layout: fixed;

    thead {
        tr {
            &:first-child {
                td,
                th {
                    border-top: 1px solid var(--border-color);
                }
            }

            &:last-child {
                td,
                th {
                    border-bottom: 1px solid var(--border-color);
                }
            }
        }
    }

    td,
    th {
        --calc-left: calc(
            var(--padding-left, var(--padding-size)) * var(--padding, 1)
        );
        --calc-right: calc(
            var(--padding-right, var(--padding-size)) * var(--padding, 1)
        );
        --calc-width: var(--width, auto);

        padding-left: var(--calc-left);
        padding-right: var(--calc-right);
        min-width: var(--calc-width);
        width: var(--calc-width);

        &.max-width {
            max-width: calc(var(--calc-left) + var(--calc-right) + var(--max-width, var(--calc-width)));
        }

        &:first-child {
            border-left: 1px solid var(--border-color);
        }

        &:last-child {
            border-right: 1px solid var(--border-color);
        }

        code {
            line-height: 1;
            background: none;
        }
    }

    tbody {
        tr {
            td.alt {
                background: var(--table-background-alt-1);
            }
        }
    }

    .spacer {
        background: var(--color-body-background);
        border-bottom-width: 0 !important;
        border-left: 1px solid var(--border-color);
        border-top-width: 0 !important;
        min-width: 1rem;
        width: 1rem;
    }

    .spacer + td {
        border-left: 1px solid var(--border-color);
    }

    .settings {
        background: var(--color-body-background);
        border-bottom-width: 0 !important;
        border-left: 1px solid var(--border-color);
        border-right-width: 0 !important;
        border-top-width: 0 !important;
        min-width: 3rem;
        width: 3rem;
    }
}

.table-striped {
    thead {
        tr {
            th.alt {
                background: var(--table-background-alt-2);
            }
        }
    }

    tbody {
        tr:nth-child(odd) {
            td {
                background: var(--table-background-1);

                &.alt {
                    background: var(--table-background-alt-1);
                }
            }
        }
        tr:nth-child(even) {
            td {
                background: var(--table-background-2);

                &.alt {
                    background: var(--table-background-alt-2);
                }
            }
        }
        tr.highlight {
            background: var(--table-background-highlight-1);

            &:nth-child(odd) {
                background: var(--table-background-highlight-2);
            }
        }
    }
}

.table-striped2 {
    tbody {
        tr:nth-child(4n + 1),
        tr:nth-child(4n + 2) {
            background: var(--table-background-2);
        }
        tr:nth-child(2n):not(:last-child) {
            td {
                border-bottom: 1px solid var(--border-color);
            }
        }
    }
}

.table-striped,
.table-striped2 {
    tr {
        td {
            border-bottom: 1px solid var(--border-color);
        }
    }
}

.table-group-head {
    td {
        background: var(--color-active-background);
        border-top: 1px solid var(--border-color);
        font-size: 1.05rem;
        text-align: center;
    }
}
