.table {
    background: $thing-background;
    //border-collapse: collapse;
    table-layout: fixed;

    thead {
        tr {
            &:first-child {
                td,
                th {
                    border-top: 1px solid var(--border-color);
                }
            }

            &:last-child {
                td,
                th {
                    border-bottom: 1px solid var(--border-color);
                }
            }
        }
    }

    tr.sized > td, tr.sized > th, td.sized, th.sized {
        --calc-left: calc(
            var(--padding-left, var(--padding-size)) * var(--padding, 1)
        );
        --calc-right: calc(
            var(--padding-right, var(--padding-size)) * var(--padding, 1)
        );
        --calc-width: calc(
            var(--width) + var(--calc-left) + var(--calc-right)
        );

        min-width: var(--calc-width);
        padding-left: var(--calc-left);
        padding-right: var(--calc-right);
        width: var(--calc-width);
    }

    td,
    th {
        &:first-child {
            border-left: 1px solid var(--border-color);
        }

        &:last-child {
            border-right: 1px solid var(--border-color);
        }

        code {
            line-height: 1;
            background: none;
        }
    }

    tbody {
        tr {
            td.alt {
                background: $table-alt-bg;
            }
        }
    }

    .spacer {
        background: $body-background;
        border-bottom-width: 0 !important;
        border-left: 1px solid var(--border-color);
        border-top-width: 0 !important;
        min-width: 1rem;
        width: 1rem;
    }

    .spacer + td {
        border-left: 1px solid var(--border-color);
    }

    .settings {
        background: $body-background;
        border-bottom-width: 0 !important;
        border-left: 1px solid var(--border-color);
        border-right-width: 0 !important;
        border-top-width: 0 !important;
        min-width: 3rem;
        width: 3rem;
    }
}

.table-striped {
    --background-1: rgb(26, 27, 28);
    --background-2: rgb(34, 35, 36);
    --background-alt-1: rgb(21, 22, 38);
    --background-alt-2: rgb(29, 30, 46);

    thead {
        tr {
            th.alt {
                background: var(--background-alt-2);
            }
        }
    }

    tbody {
        tr:nth-child(odd) {
            td {
                background: var(--background-1);

                &.alt {
                    background: var(--background-alt-1);
                }
            }
        }
        tr:nth-child(even) {
            td {
                background: var(--background-2);

                &.alt {
                    background: var(--background-alt-2);
                }
            }
        }
        tr.highlight {
            background: $table-hl-bg;

            &:nth-child(odd) {
                background: $table-striped-hl-bg;
            }
        }
    }
}

.table-striped2 {
    tbody {
        tr:nth-child(4n + 1),
        tr:nth-child(4n + 2) {
            background: $table-striped-bg;
        }
        tr:nth-child(2n):not(:last-child) {
            td {
                border-bottom: 1px solid var(--border-color);
            }
        }
    }
}

.table-striped,
.table-striped2 {
    tr {
        td {
            border-bottom: 1px solid var(--border-color);
        }
    }
}

.table-group-head {
    td {
        background: adjust-color($active-background, $alpha: -0.5);
        border-top: 1px solid var(--border-color);
        font-size: 1.05rem;
        text-align: center;
    }
}
