@import "tooltips/lockout";
@import "tooltips/mythic-plus";
@import "tooltips/vault";

.wowthing-tooltip {
    --image-margin-top: -4px;

    margin: $tooltip-padding-y*-1 $tooltip-padding-x*-1 $tooltip-padding-y*-1 $tooltip-padding-x*-1;
    text-align: center;

    > h4,
    > h5 {
        background: $tooltip-title-background;
        font-weight: normal;
    }

    > h4 {
        padding: 0.3rem 0.5rem;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        color: $tooltip-title-color;
        font-size: 1.05rem;

        &:not(.no-border) {
            border-bottom: 1px solid $tooltip-border;
        }
    }

    > h5 {
        border-bottom: 1px solid $tooltip-border;
        color: $color-success;
        font-size: 1.0rem;
        margin-top: -0.2rem;
        padding: 0 0.5rem 0.2rem 0.5rem;
        text-align: center;
    }

    > .bottom {
        background: darken($tooltip-title-background, 5%);
        border-top: 1px solid $tooltip-border;
        padding: 0.3rem 0.5rem;
        text-align: center;
    }

    table {
        width: 100%;

        tr {
            td {
                padding: 0.2rem 0.4rem;
            }

            &:last-child td {
                border-bottom-width: 0 !important;
            }
            &:last-child td:first-child {
                border-bottom-left-radius: $border-radius;
            }
            &:last-child td:last-child {
                border-bottom-right-radius: $border-radius;
            }
        }

        &.table-striped {
            tbody {
                tr:nth-child(odd) {
                    background: $tooltip-striped-bg;
                }
            }
        }
    }

    em {
        color: #4fc3f7;
    }

    p {
        margin-top: 0.5rem;
        margin-bottom: 0;
    }
}
