:root {
    --color-body-background: #101112;
    --color-body-text: #ffffff;
    --color-link: #44ddff;

    --color-active-background: #003048;
    --color-highlight-background: #04080f;
    --color-thing-background: #1a1b1c;

    --border-color: #676b6f;
    --border-radius-large: 8px;
    --border-radius: 5px;
    --border-radius-small: 3px;

    --padding: 1;
    --padding-size: 0.25rem;

    --opacity-faded: 0.5;

    --table-background-1: rgb(26, 27, 28);
    --table-background-2: rgb(34, 35, 36);
    --table-background-alt-1: rgb(21, 22, 38);
    --table-background-alt-2: rgb(29, 30, 46);
    --table-background-highlight-1: oklch(from var(--color-active-background) calc(l - 0.07) c h);
    --table-background-highlight-2: oklch(from var(--color-active-background) calc(l - 0.03) c h);

    --tooltip-background: #0a0b0c;
    --tooltip-color: #ffffff;
    --tooltip-border: #8b8d8f;
    --tooltip-title-background: var(--color-active-background);
    --tooltip-title-color: var(--tooltip-color);
    --tooltip-padding-x: 7px;
    --tooltip-padding-y: 5px;

    --color-success: #1eff00;
    --color-success-background: color-mix(in oklch, var(--color-success) 30%, #000 70%);
    --color-success-border: color-mix(in oklch, var(--color-success) 70%, var(--border-color) 30%);

    --color-shrug: #efef00;
    --color-shrug-background: color-mix(in oklch, var(--color-shrug) 30%, #000 70%);
    --color-shrug-border: color-mix(in oklch, var(--color-shrug) 70%, var(--border-color) 30%);

    --color-warn: #ff8c7e;
    --color-warn-background: color-mix(in oklch, var(--color-warn) 30%, #000 70%);
    --color-warn-border: color-mix(in oklch, var(--color-warn) 70%, var(--border-color) 30%);

    --color-fail: #ff1e00;
    --color-fail-background: color-mix(in oklch, var(--color-fail) 30%, #000 70%);
    --color-fail-border: color-mix(in oklch, var(--color-fail) 70%, var(--border-color) 30%);

    // factions
    --color-alliance-border: #006aff;
    --color-alliance-border-dark: oklch(from var(--color-alliance-border) calc(l - 0.2) c h);
    --color-alliance: oklch(from var(--color-alliance-border) calc(l + 0.2) c h);
    --color-alliance-background: color-mix(in oklch, var(--color-alliance-border) 10%, var(--thing-background) 90%);

    --color-horde-border: #cc0000;
    --color-horde-border-dark: oklch(from var(--color-horde-border) calc(l - 0.2) c h);
    --color-horde: oklch(from var(--color-horde-border) calc(l + 0.2) c h);
    --color-horde-background: color-mix(in oklch, var(--color-horde-border) 10%, var(--thing-background) 90%);

    --color-neutral-border: #dfdf00;

    // poor
    --color-quality0: #9d9d9d;
    --color-quality0-border: #8d8d8d;

    // common
    --color-quality1: #eee; // #ffffff
    --color-quality1-border: #ddd;

    // uncommon
    --color-quality2: #1eff00;
    --color-quality2-border: #18cc00; // #1eff00 - 10%

    // rare
    --color-quality3: #44a3ff; // #0070dd + 20%
    --color-quality3-border: #0070dd;

    // epic
    --color-quality4: #b864f2; // #a335ee + 10%
    --color-quality4-border: #a335ee;

    // legendary
    --color-quality5: #f07800; // #ff8000 - 3%
    --color-quality5-border: #ff8000;

    // artifact FIXME
    --color-quality6: oklch(from #e6cc80 calc(l - 0.05) c h);
    --color-quality6-border: #e6cc80;

    // heirloom FIXME
    --color-quality7: oklch(from #00ccff calc(l - 0.08) c h);
    --color-quality7-border: var(--color-quality7);

    // classes
    --color-class-1: #c69b6d; // Warrior
    --color-class-2: #f48cba; // Paladin
    --color-class-3: #aad372; // Hunter
    --color-class-4: #fff468; // Rogue
    --color-class-5: #ffffff; // Priest
    --color-class-6: oklch(from #c41e3a calc(l + 0.05) c h); // Death Knight
    --color-class-7: oklch(from #0070dd calc(l + 0.05) c h); // Shaman
    --color-class-8: #3fc7eb; // Mage
    --color-class-9: #8788ee; // Warlock
    --color-class-10: #00ff98; // Monk
    --color-class-11: #ff7c0a; // Druid
    --color-class-12: #a330c9; // Demon Hunter
    --color-class-13: #33937f; // Evoker

    // svelte-multiselect
    --sms-li-active-bg: #003048;
    --sms-options-bg: #0a0b0c;
    --sms-options-border: 1px solid #8b8d8f;
    --sms-placeholder-color: #bbb;
    --sms-selected-li-padding: 0 0.2rem;

    --width-callings: 4.6rem;
    --width-covenant: 2.9rem;
    --width-covenant-all: 7rem;
    --width-currency: 2.3rem;
    --width-currency-max: 4rem;
    --width-icon: 26px;
    --width-item-level: 2.5rem;
    --width-keystone: 4rem;
    --width-location: 5rem;
    --width-location-max: 16rem;
    --width-mplus-dungeon: 3.4rem;
    --width-mplus-upgrade: 2.1rem;
    --width-name: 6rem;
    --width-name-max: 12rem;
    --width-profession: 4rem;
    --width-progress: 2rem;
    --width-progress-max: 5.5rem;
    --width-raider-io: 3rem;
    --width-vault: 6.5rem;
}

$link-hover-color: #88ffff;

$header-footer-background: #2c2d2e;
$thing-background: #1a1b1c;
$active-background: #003048;

$width-gold: 4rem;
$width-gold-max: 6rem;
$width-mount-speed: 3.4rem;
$width-spacer: 0.7rem;
$width-transmog: 2.6rem;
