// Class colours
.class-1,
.class-warrior {
    --image-border-color: var(--color-class-1);
    --color-link: var(--color-class-1);

    color: var(--color-class-1);
}

.class-2,
.class-paladin {
    --image-border-color: var(--color-class-2);
    --color-link: var(--color-class-2);

    color: var(--color-class-2);
}

.class-3,
.class-hunter {
    --image-border-color: var(--color-class-3);
    --color-link: var(--color-class-3);

    color: var(--color-class-3);
}

.class-4,
.class-rogue {
    --image-border-color: var(--color-class-4);
    --color-link: var(--color-class-4);

    color: var(--color-class-4);
}

.class-5,
.class-priest {
    --image-border-color: var(--color-class-5);
    --color-link: var(--color-class-5);

    color: var(--color-class-5);
}

.class-6,
.class-death-knight {
    --image-border-color: var(--color-class-6);
    --color-link: var(--color-class-6);

    color: var(--color-class-6);
}

.class-7,
.class-shaman {
    --image-border-color: var(--color-class-7);
    --color-link: var(--color-class-7);

    color: var(--color-class-7);
}

.class-8,
.class-mage {
    --image-border-color: var(--color-class-8);
    --color-link: var(--color-class-8);

    color: var(--color-class-8);
}

.class-9,
.class-warlock {
    --image-border-color: var(--color-class-9);
    --color-link: var(--color-class-9);

    color: var(--color-class-9);
}

.class-10,
.class-monk {
    --image-border-color: var(--color-class-10);
    --color-link: var(--color-class-10);

    color: var(--color-class-10);
}

.class-11,
.class-druid {
    --image-border-color: var(--color-class-11);
    --color-link: var(--color-class-11);

    color: var(--color-class-11);
}

.class-12,
.class-demon-hunter {
    --image-border-color: var(--color-class-12);
    --color-link: var(--color-class-12);

    color: var(--color-class-12);
}
.class-13,
.class-evoker {
    --image-border-color: var(--color-class-13);
    --color-link: var(--color-class-13);

    color: var(--color-class-13);
}

// Junk
.quality0 {
    --image-border-color: var(--color-quality0-border);
    --color-link: var(--color-quality0);
    color: var(--color-quality0);

    div,
    img {
        border-color: var(--color-quality0-border);
    }
}
.quality0-border {
    --bar-border-color: var(--color-quality0-border);
    --image-border-color: var(--color-quality0-border);

    border-color: var(--color-quality0-border);
}
img.quality0 {
    border-color: var(--color-quality0-border);
}

// Common
.quality1 {
    --image-border-color: var(--color-quality1-border);
    --color-link: var(--color-quality1);
    color: var(--color-quality1);

    div,
    img,
    img & {
        border-color: var(--color-quality1-border);
    }
}
.quality1-border {
    --bar-border-color: var(--color-quality1-border);
    --image-border-color: var(--color-quality1-border);

    border-color: var(--color-quality1-border);
}
/*img.quality1 {
    border-color: var(--color-quality1-border);
}*/

// Uncommon
.quality2 {
    --image-border-color: var(--color-quality2-border);
    --color-link: var(--color-quality2);
    color: var(--color-quality2);

    div,
    img {
        border-color: var(--color-quality2-border);
    }
}
.quality2-border {
    --bar-border-color: var(--color-quality2-border);
    --image-border-color: var(--color-quality2-border);

    border-color: var(--color-quality2-border);
}
img.quality2 {
    border-color: var(--color-quality2-border);
}

// Rare
.quality3 {
    --image-border-color: var(--color-quality3-border);
    --color-link: var(--color-quality3);
    color: var(--color-quality3);

    div,
    img {
        border-color: var(--color-quality3-border);
    }
}
.quality3-border {
    --bar-border-color: var(--color-quality3-border);
    --image-border-color: var(--color-quality3-border);

    border-color: var(--color-quality3-border);
}
img.quality3 {
    border-color: var(--color-quality3-border);
}

// Epic
.quality4 {
    --image-border-color: var(--color-quality4-border);
    --color-link: var(--color-quality4);
    color: var(--color-quality4);

    div,
    img {
        border-color: var(--color-quality4-border);
    }
}
.quality4-border {
    --bar-border-color: var(--color-quality4-border);
    --image-border-color: var(--color-quality4-border);

    border-color: var(--color-quality4-border);
}
img.quality4 {
    border-color: var(--color-quality4-border);
}

// Legendary
.quality5 {
    --image-border-color: var(--color-quality5-border);
    --color-link: var(--color-quality5);
    color: var(--color-quality5);

    div,
    img {
        border-color: var(--color-quality5-border);
    }
    span {
        color: #ff8000;
    }
}
.quality5-border {
    --bar-border-color: var(--color-quality5-border);
    --image-border-color: var(--color-quality5-border);

    border-color: var(--color-quality5-border);
}
img.quality5 {
    border-color: var(--color-quality5-border);
}

// Artifact
.quality6 {
    --image-border-color: var(--color-quality6-border);
    --color-link: var(--color-quality6);
    color: var(--color-quality6);

    div,
    img {
        border-color: var(--color-quality6);
    }
}
.quality6-border {
    --bar-border-color: var(--color-quality6-border);
    --image-border-color: var(--color-quality6-border);

    border-color: var(--color-quality6-border);
}

// Heirloom
.quality7 {
    --image-border-color: var(--color-quality7-border);
    --color-link: var(--color-quality7);
    color: var(--color-quality7);

    div,
    img {
        border-color: var(--color-quality7);
    }
}
.quality7-border {
    --bar-border-color: var(--color-quality7-border);

    border-color: var(--color-quality7-border);
}
