.wowhead-tooltip {
    max-width: 400px !important;

    table > tbody > tr > td:first-child {
        max-width: 400px;
    }

    // Their tooltip CSS doesn't include these styles
    .iconmedium {
        height: 44px;
        width: 44px;
        position: relative;
        display: inline-block;
        vertical-align: middle;

        ins {
            background-repeat: no-repeat;
            border: 1px solid var(--border-color) !important;
            display: block;
            position: absolute;
            left: 4px;
            top: 4px;
            border-radius: var(--border-radius);
            width: 36px;
            height: 36px;
        }
    }
}
