apiVersion: apps/v1
kind: Deployment
metadata:
  name: wowthing-again-backend
  namespace: things
  labels:
    app: wowthing-again-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wowthing-again-backend
  template:
    metadata:
      labels:
        app: wowthing-again-backend
    spec:
      containers:
        - name: wowthing-again-backend
          image: ghcr.io/thingengineering/wowthing-again/backend:_VERSION_
          imagePullPolicy: Always
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: "Production"
            - name: NETCORE_ENVIRONMENT
              value: "Production"
          envFrom:
            - secretRef:
                name: wowthing-again
