apiVersion: apps/v1
kind: Deployment
metadata:
  name: wowthing-again-backend
  namespace: things
  labels:
    app: wowthing-again-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wowthing-again-backend
  nodeSelector:
    wowthing: backend
  template:
    metadata:
      labels:
        app: wowthing-again-backend
    spec:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app: wowthing-again-backend

      containers:
        - name: wowthing-again-backend
          image: "ghcr.io/thingengineering/wowthing-again/backend:_VERSION_"
          imagePullPolicy: Always
          ports:
            - name: prometheus
              containerPort: 9464
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: "Production"
            - name: NETCORE_ENVIRONMENT
              value: "Production"
          envFrom:
            - secretRef:
                name: wowthing-again
          resources:
            requests:
              memory: "1024Mi"
              cpu: "1000m"
