.search-table {
    width: 100%;

    .item-row {
        th {
            background-color: var(--color-highlight-background);
            font-weight: normal;
        }
        .realm {
            text-align: right;
        }
    }

    .item {
        --width: 17.2rem;

        --image-border-width: 1px;
        --image-margin-top: -4px;

        padding: 0.2rem inherit;
        text-align: left;
    }
    .count {
        --width: 2rem;

        text-align: right;
        white-space: nowrap;
    }
    .item-level {
        --width: 1.8rem;

        text-align: right;
    }
    .tag {
        --width: 0.5rem;

        background: var(--color-highlight-background);
        border-right: 1px solid var(--border-color);
        text-align: center;
    }
    .name,
    .guild-name {
        a {
            text-decoration: underline;
        }
    }
    .name {
        --width: 10.5rem;
    }
    .guild-name {
        --width: 12rem;
    }
    .realm {
        --width: 5.7rem;

        white-space: nowrap;
    }
    .location {
        --width: 3rem;

        white-space: nowrap;
    }
}
