.subnav {
    --image-margin-top: -2px;

    background: $highlight-background;
    border: 1px solid $border-color;
    //border-radius: $border-radius;
    display: flex;
    overflow: hidden;
    padding: 0;
    width: 100%;

    a {
        border-right: 1px solid $border-color;
        display: inline-block;
        padding: 0.25rem 1rem;

        &.pad-left {
            padding-left: 0.5rem;
        }

        &.active {
            --link-color: #eee;

            background: $active-background;
        }

        pre {
            display: inline;
            margin-left: 0.25rem;
        }
    }
}
