.subnav {
    --image-margin-top: -2px;

    // border: 1px solid var(--border-color);
    display: flex;
    overflow: hidden;
    padding: 0;
    width: 100%;

    a {
        background: var(--color-highlight-background);
        border-bottom: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);
        border-top: 1px solid var(--border-color);
        display: inline-block;
        padding: 0.25rem 1rem;

        &:first-child {
            border-left: 1px solid var(--border-color);
        }

        &.pad-left {
            padding-left: 0.5rem;
        }

        &.active {
            --color-link: #ddd;

            background: var(--color-active-background);
            border: 1px solid #eee;

            &:not(:first-child):not(.m-l) {
                margin-left: -1px;
            }
        }

        pre {
            display: inline;
            margin-left: 0.25rem;
        }
    }
}
