body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #121212;
  color: #ffffff;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  font-size: 18px;
}

header {
  position: sticky;
  top: 0;
}

header,
footer {
  background: #303438;
  padding: 0.8rem;
}

.nav {
  display: flex;
  justify-content: space-between;

  > ul {
    margin: 0;
  }
}

main {
  flex: 1;
  padding: 1rem;
}

footer {
  flex: none;
}

a,
a:visited
{
  color: #a5d6a7;
  text-decoration: none;
}

a:hover {
  color: #4caf50;
}

.primary {
  background: #4fc3f7;
  color: #000;
}

h1 {
  margin: 0;
}

#app {
  display: flex;
}

.faction0 {
  img {
    border: 1px solid #0044ff;
  }
}
.faction1 {
  img {
    border: 1px solid #ff4400;
  }
}
