body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $body-background;
  color: #ffffff;
}

header {
  position: sticky;
  top: 0;
  border-bottom: 1px solid $border-color;
}

header,
footer {
  background: $header-footer-background;
  padding: 0.8rem;
}

.nav {
  display: flex;
  justify-content: space-between;

  ul {
    margin: 0;

    li {
      display: inline-block;

      & + li {
        border-left: 1px solid #888;
        margin-left: 0.4rem;
        padding-left: 0.6rem;
      }
    }
  }
}

main {
  flex: 1;
  padding: 1rem;
}

footer {
  flex: none;
  border-top: 1px solid $border-color;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      & + li {
        border-left: 1px solid #888;
        margin-left: 0.4rem;
        padding-left: 0.6rem;
      }
    }
  }
}

a,
a:visited
{
  color: #a5d6a7;
  text-decoration: none;
}

a:hover {
  color: #4caf50;
}

.primary {
  background: #4fc3f7;
  color: #000;
}

h1 {
  margin: 0;
}

#app {
  display: flex;
  align-items: flex-start
}

.faction0 {
  img {
    border: 1px solid #0044ff;
  }
}
.faction1 {
  img {
    border: 1px solid #ff4400;
  }
}
