$body-background:          #121314;
$body-text:                #ffffff;
$header-footer-background: #2c2d2e;
$thing-background:         #1d1e1f;
$highlight-background:     mix($thing-background, #0000ff, 90%);
$active-background:        mix($thing-background, #0088ff, 80%);
$border-color:             #4d4e4f;

$alliance-border:          #0044ff;
$horde-border:             #ff0000;

$thing-border-radius:      5px;
