$body-background:          #121314;
$body-text:                #ffffff;
$link-color:               lighten(#a5d6a7, 8%);

$header-footer-background: #2c2d2e;
$thing-background:         #1d1e1f;
$highlight-background:     mix($thing-background, #0000ff, 90%);
$active-background:        mix($thing-background, #0088ff, 80%);
$border-color:             #4d4e4f;

$tooltip-background:       #0a0b0c;
$tooltip-color:            #ffffff;
$tooltip-border:           #8b8d8f;
$tooltip-title-background: $active-background;
$tooltip-title-color:      $tooltip-color;
$tooltip-padding-x:        7px;
$tooltip-padding-y:        5px;

$alliance-border:          #0044ff;
$horde-border:             #ff0000;

$thing-border-radius:      5px;

// poor
$quality0-color: #9d9d9d;
// common
$quality1-color: #ddd;
// uncommon
$quality2-color: darken(#1eff00, 12%);
// rare
$quality3-color: darken(#0070ff, 5%);
// epic
//$quality4-color: darken(#a335ee, 5%);
$quality4-color: #B237FF;
// legendary
$quality5-color: darken(#ff8000, 8%);
// artifact
$quality6-color: darken(#e6cc80, 25%);
// heirloom
$quality7-color: darken(#e6cc80, 25%);
