<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - WoWthing</title>
    <link rel="stylesheet" asp-href-include="~/dist/main.*css" />
</head>
<body>
    <header>
        <nav class="nav">
            <ul></ul>
            <ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <li>@User.Identity.Name</li>
                    <li>
                        <a asp-controller="Authentication" asp-action="Logout">Logout</a>
                    </li>
                }
                else
                {
                    <li>
                        <a asp-controller="Authentication" asp-action="Login">Login with Battle.Net</a>
                    </li>
                }
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <a href="https://gitlab.com/thing-engineering/wowthing/wowthing-again">GitLab</a>
    </footer>

    <script type="text-javascript" asp-src-include="~/dist/main.*js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
