<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - WoWthing</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="stylesheet" asp-href-include="~/dist/main.*css" />
</head>
<body>
    <header>
        <nav class="nav">
            <ul></ul>
            <ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <li>@User.Identity.Name</li>
                    <li>
                        <a asp-controller="Authentication" asp-action="Logout">Logout</a>
                    </li>
                }
                else
                {
                    <li>
                        <a asp-controller="Authentication" asp-action="Login">Login with Battle.Net</a>
                    </li>
                }
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()

        <footer>
            <ul>
                <li>
                    <a href="https://discord.gg/4UkTT5y">Discord</a>
                </li>
                <li>
                    <a href="https://gitlab.com/thing-engineering/wowthing/wowthing-again">GitLab</a> (code/issues)
                </li>
            </ul>
            <ul>
                <li>
                    <div>Favicon by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a></div>
                </li>
            </ul>
        </footer>
    </main>

    <script type="text/javascript" src="//www.wowdb.com/current/js/syndication/tt.js"></script>
    <script type="text/javascript" asp-src-include="~/dist/main.*js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
