<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - WoWthing</title>
    <link rel="stylesheet" asp-href-include="~/dist/main.*css" />
</head>
<body>
    <header>
        <nav class="nav">
            @if (User.Identity.IsAuthenticated)
            {
                <p>HI @User.Identity.Name</p>
            }
            else
            {
                <a asp-controller="Authentication" asp-action="Login">Login with Battle.Net</a>
            }
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        &copy; 2020 Thing Engineering
    </footer>

    <script type="text-javascript" asp-src-include="~/dist/main.*js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
